@{
    ViewData["Title"] = "Home Page";
}
@model BookListViewModel

<div class="text-center">
    <h1 class="display-4">Welcome to the Bookstore</h1>
    <table class="table table-dark text-white table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Author
                </th>
                <th>
                    Publisher
                </th>
                <th>
                    ISBN
                </th>
                <th>
                    Classification/Category
                </th>
                <th>
                    Price
                </th>
                <th>
                    Pages
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Books)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Publisher)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ISBN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Classification), @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pages)
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7" page-model="@Model.PagingInfo" page-action="Index" 
                    page-classes-enabled="true" page-class="btn text-white"
                    page-class-selected="btn-light text-dark" 
                    page-class-normal="btn-dark text-white" class="text-right"></td>
            </tr>
        </tfoot>
        
    </table>
</div>
